@page
@model TCC_WEB.Pages.admin.Rotas_EditModel
@{
    ViewData["Title"] = "Rotas";
    ViewData["Header"] = "Edição";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item "><a asp-page="/admin/Rotas">@ViewData["Title"]</a></li>
                    <li class="breadcrumb-item active">@ViewData["Header"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <input type="hidden" id="idRota" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Paradas</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <label for="cidade">Cidade</label>
                            </div>
                            <div class="col-6 col-lg-1">
                                <label for="lat">Latitude</label>
                            </div>
                            <div class="col-6 col-lg-1">
                                <label for="lng">Longitude</label>
                            </div>
                            <div class="col-12 col-lg-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <select class="form-control select2" id="cidade"></select>
                            </div>
                            <div class="col-6 col-lg-1">
                                <input type="text" class="form-control" id="lat" />
                            </div>
                            <div class="col-6 col-lg-1">
                                <input type="text" class="form-control" id="lng" />
                            </div>
                            <div class="col-12 col-lg-2">
                                <button class="btn btn-block btn-success" id="adicionar-parada" onclick="SalvarParada()"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <hr />
                        <table id="tabela-paradas" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Cidade</th>
                                    <th width="20%">Ações</th>
                                </tr>
                            </thead>
                            <tbody id="body-tabela-paradas">
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-2 offset-10">
                                <button class="btn btn-block btn-success" id="salvar"><i class="fas fa-check"></i> Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Horários</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <label for="parada">Parada</label>
                            </div>
                            <div class="col-3">
                                <label for="horario">Horário da parada</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-control select2" id="parada"></select>
                            </div>
                            <div class="col-3">
                                <input type="text" id="horario" class="form-control timepicker" />
                            </div>
                            <div class="col-3">
                                <button class="btn btn-block btn-success" id="adicionar-horario" onclick="SalvarHorario()"><i class="fas fa-plus"></i> Adicionar</button>
                            </div>
                        </div>
                        <hr />
                        <div id="cards-paradas">
                            <div class="row" id="horarios-paradas">
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-2 offset-10">
                                <button class="btn btn-block btn-success" id="salvar"><i class="fas fa-check"></i> Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Valores</h3>
                    </div>
                    <div class="card-body">
                        <table class="table" id="tabela-precos">
                        </table>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="modal" tabindex="-1" role="dialog" id="ModalPrecoRota">
            <input type="hidden" id="idRotaParadaOrigem" />
            <input type="hidden" id="idRotaParadaDestino" />
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dados do trajeto <span id="trajeto-escolhido"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label for="distancia">Distância</label>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="preco">Preço</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <input type="text" class="form-control" id="distancia" />
                            </div>
                            <div class="col-12 col-lg-6">
                                <input type="text" class="form-control" id="preco" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="SalvarPreco()">Criar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

@section Scripts{
    <script>
        var rota = null;
        var paradas = [];
        var precos = [];

        function CarregarCidades() {
            $.ajax({
                url: environment.api_url + "/Cidade",
                contentType: "application/json",
                success: (data) => {
                    let opcoes = "<option value=null>--</option>";

                    data.forEach((cidade, indice) => {
                        let opcao = `<option value=${cidade.id}>${cidade.nome}</option>`;

                        opcoes += opcao;
                    });

                    $("#cidade").html(opcoes);
                }
            })
        }

        function CarregarOpcoesParadas() {
            let opcoes = "<option value=null>--</option>";

            paradas.forEach((parada, indice) => {
                let opcao = `<option value=${parada.id}>${parada.cidade.nome}</option>`;

                opcoes += opcao;
            });

            $("#parada").html(opcoes);
        }

        function CarregarTabelaParadas() {
            var template = "<tr>" +
                "<td>{status}{cidade}" +
                "<a class='btn btn-sm btn-link' target= 'blank' href = 'https://www.google.com/maps/search/?api=1&query={latitude},{longitude}'>" +
                "<i class='fas fa-map-marker-alt'> </i>" +
                "</a>" +
                "</td>" +
                "<td>" +
                "<button class='btn btn-sm btn-primary' onclick= 'TornarParadaInicial({id},{idRota})' title= 'Tornar parada incial'> <i class='fas fa-play'> </i></button> " +
                "<button class='btn btn-sm btn-secondary' onclick= 'TornarParadaFinal({id},{idRota})' title= 'Tornar parada final'> <i class='fas fa-stop'> </i></button> " +
                "<button class='btn btn-sm btn-danger' onclick= 'ExcluirParada({id})' title= 'Excluir parada'> <i class='fas fa-trash'> </i></button> " +
                "</td>" +
                "</tr>";

            var htmlTabela = '';

            $('#body-tabela-paradas').html(htmlTabela);
            paradas.forEach((item) => {
                var opcao = template
                    .replaceAll('{id}', item.id)
                    .replaceAll('{idRota}', item.idRota)
                    .replace('{latitude}', item.latitude)
                    .replace('{longitude}', item.longitude)
                    .replace('{cidade}', item.cidade.nome);

                if (rota == null || rota.idRotaParadaOrigem == null || rota.idRotaParadaDestino == null) {
                    opcao = opcao
                        .replace('{status}', '');
                } else {
                    if (item.id == rota.idRotaParadaOrigem)
                        opcao = opcao
                            .replace('{status}', 'INIÍCIO - ');
                    else if (item.id == rota.idRotaParadaDestino)
                        opcao = opcao
                            .replace('{status}', 'FINAL - ');
                    else
                        opcao = opcao
                            .replace('{status}', '');
                }
                htmlTabela += opcao;
            })

            $('#body-tabela-paradas').html(htmlTabela);
        }

        function CarregarCardHorarios() {
            const templateCard = '<div class="col-3">' +
                '   <div class="card">' +
                '       <div class="card-header">' +
                '           <span class="card-title">{cidadeParada}</span>' +
                '       </div>' +
                '       <div class="card-body">' +
                '           <ul class="list-group">' +
                '             {horariosParada}' +
                '           </ul>' +
                '       </div>' +
                '       <div class="card-footer">' +
                '           <button class="btn btn-block btn-danger" onclick="ExcluirHorariosParada({id})"><i class="fas fa-trash"></i> Excluir todos</button>' +
                '       </div>' +
                '   </div>' +
                '</div>';
            const templateHorario = '<li class="list-group-item" onclick="ExcluirHorario({idHorario})">{horario}</li>';

            let htmlCardsParadas = '';

            $('#horarios-paradas').html(htmlCardsParadas);

            paradas.forEach((parada) => {
                let cardParada = templateCard.replace('{cidadeParada}', parada.cidade.nome).replaceAll('{id}', parada.id);

                let htmlHorarios = '';

                if (parada.horarios != null) {
                    parada.horarios.forEach((horario) => {
                        htmlHorarios += templateHorario.replace('{idHorario}', horario.id).replace('{horario}', new Date(horario.horario.slice(0, -1)).toLocaleTimeString('pt-BR'))
                    })
                }

                cardParada = cardParada.replace('{horariosParada}', htmlHorarios);

                htmlCardsParadas += cardParada
            });

            $('#horarios-paradas').html(htmlCardsParadas);
        }

        function AbrirModalAdicionarPreco(idOrigem, idDestino) {
            var paradaOrigem = paradas.find((item) => item.id == idOrigem);
            var paradaDestino = paradas.find((item) => item.id == idDestino);

            $("#trajeto-escolhido").html(paradaOrigem.cidade.nome + " -> " + paradaDestino.cidade.nome)

            var preco = precos.find((item) => item.idRotaParadaOrigem == idOrigem && item.idRotaParadaDestino == idDestino);

            $('#idRotaParadaOrigem').val(idOrigem);
            $('#idRotaParadaDestino').val(idDestino);

            if (preco != undefined) {
                $('#preco').val(preco.preco.replace('R$ ',''));
                $('#distancia').val(preco.distancia.replace('R$ ',''));
            }else{
                $('#preco').val(null);
                $('#distancia').val(null);
            }

            $('#ModalPrecoRota').modal('toggle');
        }

        function CarregarTabelaPrecos() {
            const templateBody = '<tbody><tr>{rowHeadersPrecos}</tr>{rowsParadas}</tbody>';
            const templateHeaderParada = "<th>{cidade}</th>";
            const templatePreco = '<td onclick="AbrirModalAdicionarPreco({idParadaOrigem},{idParadaDestino})">{preco}</td>';
            const templateRow = '<tr>{columns}</tr>';

            paradas.sort((a, b) => {
                let fa = a.id,
                    fb = b.id

                if (fa < fb) {
                    return -1;
                }
                if (fa > fb) {
                    return 1;
                }
                return 0;
            })


            let htmlHeader = templateHeaderParada.replace('{cidade}', '-');

            paradas.forEach((item) => {
                htmlHeader += templateHeaderParada.replace('{cidade}', item.cidade.nome);
            })

            let htmlRows = '';
            for (let i = 0; i < paradas.length; i++) {
                let columnsParada = templateHeaderParada.replace('{cidade}', paradas[i].cidade.nome);
                for (let j = 0; j < paradas.length; j++) {
                    let indexPrecoDestino = precos.findIndex((item) => item.idRotaParadaOrigem == paradas[i].id && item.idRotaParadaDestino == paradas[j].id);
                    if (indexPrecoDestino > -1) {
                        let precoTrajeto = precos[indexPrecoDestino]

                        columnsParada += templatePreco
                            .replace('{idParadaOrigem}', precoTrajeto.idRotaParadaOrigem)
                            .replace('{idParadaDestino}', precoTrajeto.idRotaParadaDestino)
                            .replace('{preco}', j <= i ? precoTrajeto.distancia + " Km" : precoTrajeto.preco)
                    } else {
                        columnsParada += templatePreco
                            .replace('{idParadaOrigem}', paradas[i].id)
                            .replace('{idParadaDestino}', paradas[j].id)
                            .replace('{preco}', j == i ? '-' : (j <= i ? '0,00 km' : 'R$ 0,00'))
                    }
                }
                htmlRows += templateRow.replace('{columns}', columnsParada);
            }

            $('#tabela-precos').html(templateBody.replace('{rowHeadersPrecos}', htmlHeader).replace('{rowsParadas}', htmlRows));
            $('#tabela-precos td').css('cursor', 'pointer');
        }

        function ConfigurarInputs() {
            $('.timepicker').timepicker({
                timeFormat: 'HH:mm',
                interval: 10,
                minHour: 0,
                minMinutes: 0,
                maxHour: 23,
                maxMinutes: 59,
                defaultTime: new Date(0, 0, 0, 5, 0, 0),
                startTime: '05:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });

            $('.select2').select2();
        }

        function CarregarParadas() {
            let idRota = $("#idRota").val();

            $.ajax({
                url: environment.api_url + "/RotaParada/rota/" + idRota,
                method: 'get',
                contentType: 'application/json',
                success: (data) => {
                    paradas = [];

                    data.forEach((item) => {
                        paradas.push(item);
                    });

                    CarregarTabelaParadas();
                    CarregarOpcoesParadas();
                    CarregarPrecos();
                }
            })
        }

        function CarregarHorarios() {
            let idRota = $("#idRota").val();

            $.ajax({
                url: environment.api_url + "/RotaParadaHorarios/Rota/" + idRota,
                method: 'get',
                contentType: 'application/json',
                success: (data) => {
                    paradas.forEach((parada) => {
                        parada.horarios = null;
                    })

                    data.forEach((item) => {
                        let horarios = item;
                        let idParadaGrupo = horarios[0].idRotaParada;

                        let indexParadaComId = paradas.map(parada => parada.id).indexOf(idParadaGrupo);

                        paradas[indexParadaComId].horarios = horarios;
                    });

                    CarregarCardHorarios();
                }
            })
        }

        function CarregarPrecos() {
            let idRota = $("#idRota").val();

            $.ajax({
                url: environment.api_url + "/RotaPreco/Rota/" + idRota,
                method: 'get',
                contentType: 'application/json',
                success: (data) => {
                    precos = [];

                    data.forEach((item) => {
                        precos.push(item);
                    });

                    CarregarTabelaPrecos();
                }
            })
        }

        function CarregarRota() {
            let idRota = $("#idRota").val();

            $.ajax({
                url: environment.api_url + "/Rota/" + idRota,
                method: 'get',
                contentType: 'application/json',
                success: (data) => {
                    rota = data;
                }
            })
        }

        function SalvarPreco() {
            let idRota = $("#idRota").val();

            var idRotaParadaOrigem = $('#idRotaParadaOrigem').val();
            var idRotaParadaDestino = $('#idRotaParadaDestino').val();

            var preco = $('#preco').val().replaceAll('.','').replace(',','.');
            var distancia = $('#distancia').val().replaceAll('.', '').replace(',', '.');;

            var rotaPreco = {
                idRota: idRota,
                idRotaParadaOrigem: idRotaParadaOrigem,
                idRotaParadaDestino: idRotaParadaDestino,
                preco: preco,
                distancia: distancia
            };

            $.ajax({
                url: environment.api_url + "/RotaPreco",
                method: 'post',
                contentType: 'application/json',
                data: JSON.stringify(rotaPreco),
                success: function (data) {
                    $('#ModalPrecoRota').modal('toggle');

                    CarregarPrecos();
                }
            })
        }

        function LimparInputs() {
            $("#cidade").val(null).trigger('change');
            $("#lat").val(null).trigger('change');
            $("#lng").val(null).trigger('change');
            $("#parada").val(null).trigger('change');
            $("#horario").val(null).trigger('change');
        }

        function SalvarParada() {
            let idCidade = $("#cidade").select2('data')[0].id;
            let idRota = $("#idRota").val();
            let latitude = $("#lat").val();
            let longitude = $("#lng").val();

            var novaParada = {
                idCidade: idCidade,
                idRota: idRota,
                latitude: latitude,
                longitude: longitude,
                horarios: []
            };

            $.ajax({
                url: environment.api_url + "/RotaParada",
                method: 'post',
                contentType: 'application/json',
                data: JSON.stringify(novaParada),
                success: function (data) {
                    LimparInputs();
                    CarregarParadas();
                }
            })
        }

        function SalvarHorario() {
            let idRotaParada = $("#parada").select2('data')[0].id;
            let horarioComFuso = $("#horario").timepicker().getTime();

            const localOffset = horarioComFuso.getTimezoneOffset();
            let horario = new Date(horarioComFuso.getTime() - (localOffset) * 60000);

            var novoHorairo = {
                idRotaParada: idRotaParada,
                horarioBruto: horario,
                horario: horario.toISOString()
            };

            console.log(novoHorairo);

            $.ajax({
                url: environment.api_url + "/RotaParadaHorarios",
                method: 'post',
                contentType: 'application/json',
                data: JSON.stringify(novoHorairo),
                success: function (data) {
                    LimparInputs();
                    CarregarHorarios();
                }
            })
        }

        function TornarParadaInicial(id, idRota) {
            $.ajax({
                url: environment.api_url + "/Rota/setParadaInicial/" + `${id}/${idRota}`,
                method: 'Post',
                success: (data) => {
                    CarregarRota();

                    CarregarTabelaParadas();
                }
            })
        }

        function TornarParadaFinal(id, idRota) {
            $.ajax({
                url: environment.api_url + "/Rota/setParadaFinal/" + `${id}/${idRota}`,
                method: 'Post',
                success: (data) => {
                    CarregarRota();

                    CarregarTabelaParadas();
                }
            })
        }

        function ExcluirParada(id) {
            Swal.fire({
                title: 'Deseja excluir a parada?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: 'Sim',
                denyButtonText: 'Não'
            }).then((result) => {
                if (result.isConfirmed) {
                    ConfirmarExclusaoParada(id);
                }
            })
        }

        function ConfirmarExclusaoParada(id) {
            $.ajax({
                method: "DELETE",
                url: environment.api_url + "/RotaParada/" + id,
                contentType: "application/json",
                success: (data) => {
                    Swal.fire('Parada excluída!', '', 'info');
                    CarregarParadas()
                }
            });
        }

        function ExcluirHorariosParada(id) {
            Swal.fire({
                title: 'Deseja excluir todos os horários da parada?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: 'Sim',
                denyButtonText: 'Não'
            }).then((result) => {
                if (result.isConfirmed) {
                    ConfirmarExclusaoHorariosParada(id);
                }
            })
        }

        function ConfirmarExclusaoHorariosParada(id) {
            $.ajax({
                method: "DELETE",
                url: environment.api_url + "/RotaParadaHorarios/RotaParada/" + id,
                contentType: "application/json",
                success: (data) => {
                    Swal.fire('Horários excluídos!', '', 'info');
                    CarregarHorarios();
                }
            });
        }

        function ExcluirHorario(id) {
            $.ajax({
                method: "DELETE",
                url: environment.api_url + "/RotaParadaHorarios/" + id,
                contentType: "application/json",
                success: (data) => {
                    CarregarHorarios();
                }
            });
        }

        $(document).ready(() => {
            $('#idRota').val(getUrlParameter('id'));

            ConfigurarInputs();
            CarregarCidades();
            CarregarRota();
            CarregarParadas();
            CarregarHorarios();
        })
    </script>

}
