@page
@model TCC_WEB.Pages.IndexModel
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "ViaJá!";
    Layout = null;
    var apiUrl = Configuration.GetValue<string>("ConnectionStrings:ApiUrl");
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    @*Ícone*@
    <link rel="icon" href="~/img/icon.png" type="image/png">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/select2/css/select2.css" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css">
    <link rel="stylesheet" href="~/lib/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">

    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="color:midnightblue;">
        <a class="navbar-brand" href="#"><strong>Via</strong>Já! <i class="fas fa-shuttle-van"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#modalSobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#modalAvaliacao">Avaliação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#modalDesenvolvedor">Desenvolvedor</a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="header" class="mt-5 p-5 text-white" style="background-color:midnightblue">
        <div class="row pb-5">
            <div class="col-12 text-left ">
                <h1><strong>Via</strong>Já! <i class="fas fa-shuttle-van"></i></h1>
                <h3>Onde você precisa ir e aonde vai chegar</h3>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-12 col-md-5">
                <div class="form-group">
                    <label for="cidade-origem">Onde você está?</label>
                    <select class="form-control select2" id="cidade-origem"></select>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="form-group">
                    <label for="cidade-destino">Para onde você quer ir?</label>
                    <select class="form-control select2" id="cidade-destino"></select>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <label>&nbsp;</label>
                <button class="btn btn-success btn-block" id="procurar-rotas" onclick="CarregarRotas()"><i class="fas fa-search"></i> Procurar</button>
            </div>
        </div>
    </section>
    <div class="container mt-5">
        <div class="loader mt-5" style="display:none;"></div>

        <div class="card mt-5 infoRotas">
            <div class="card-header" id="cardRotaDireta">
                <span class="card-title">Rota direta</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tabela-rota-direta" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Início</th>
                                    <th>Chegada</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr class="infoRotas" />
        <div class="card infoRotas">
            <div class="card-header">
                <span class="card-title">Rota completa</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tabela-rotas-disponiveis" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Início</th>
                                    <th>Chegada</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalSobre" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sobre</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> O ViaJá é um aplicativo Web que visa informar passageiros de transporte intermunicipal por topics sobre os horários, valores e locais de embarque dos veículos.</p>
                        <p> Este aplicativo foi desenvolvido com o intuito de servir como trabalho de conclusão de curso(TCC).</p>
                        <p>
                            O aplicativo não tem qualquer ligação com cooperativas de
                            t    ransporte intermunicipal do estado do Ceará e todas as informações foram obtidas por meio de entrevista com motoristas. Os dados podem apresentar impreciões ou estarem incompletos.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendi!</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalAvaliacao" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Avaliação</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ao final do uso do aplicativo, por favor, avalie a aplicação! É um processo rápido e irá me ajudar bastante!</p>
                        <p>Para avaliar, entre no formulário <a href="https://docs.google.com/forms/d/13PXZ6ak3rjx44E3EVo1aa7QfKHNA47blD0IHojzPRD0/edit" target="_blank">clicando aqui.</a></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Pode deixar!</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDesenvolvedor" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Desenvolvedor</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Olá! Primeiramente, fico muito agradecido por estar recebendo sua visita neste site e espero que goste da ferramenta.
                        </p>
                        <p>
                            Me chamo Abraão Costa, sou sobralense e atualmente, aluno da graduação
                            de engenharia da computação pela Universidade Federal do Ceará (UFC). Comecei a programar no início da graduação e atualmente trabalho como desenvolvedor fullstack. Vocês podem me encontrar nas
                            seguintes redes sociais para ficarem atentos aos futuros projetos!
                        </p>
                        <a href="https://github.com/abraaocrl" target="_blank" style="font-size:2em;"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/abraaocrl/" target="_blank" style="font-size:2em;"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Prazer!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- Select2 -->
    <script src="~/lib/select2/js/select2.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <!-- Funções úteis -->
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        const environment = {
            api_url: "@apiUrl"
        }
    </script>

    <script type="text/javascript">
        const formattedNumber = (number) => {
            return number.toLocaleString('pt-BR', {
                style: 'decimal',
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
            });
        }

        function CarregarCidades() {
            $.ajax({
                url: environment.api_url + "/Cidade",
                dataType: "json",
                contentType: "application/json",
                success: (data) => {
                    let opcoes = "<option value=null>--</option>";

                    data.forEach((cidade, indice) => {
                        let opcao = `<option value=${cidade.id}>${cidade.nome}</option>`;

                        opcoes += opcao;
                    });

                    $("#cidade-origem").html(opcoes);
                    $("#cidade-destino").html(opcoes);
                },
                error: (err) => {
                    console.log(err);
                    Swal.fire({
                        title: "Erro na listagem de cidades!",
                        text: "Tente novamente mais tarde.",
                        icon: 'error',
                        confirmButtonText: 'Ok',
                    })
                }
            })
        }

        function CarregarRotas() {
            let idCidadeOrigem = $("#cidade-origem").select2('data')[0].id;
            let idCidadeDestino = $("#cidade-destino").select2('data')[0].id;
            $('.loader').show();
            $(".infoRotas").hide();

            $.ajax({
                url: `${environment.api_url}/Rota/${idCidadeOrigem}/${idCidadeDestino}`,
                contentType: "application/json",
                success: (data) => {
                    $('.loader').hide();

                    if (data.length == 0) {
                        Swal.fire({
                            title: "Nenhuma rota encontrada",
                            text: "É possível que a rota que procura ainda não tenha sido adicionada ao nosso banco de dados! Entre em contato com o desenvolvedor.",
                            icon: 'info',
                            confirmButtonText: 'Ok',
                        })
                        return;
                    }

                    $("#tabela-rotas-disponiveis>tbody").html("");
                    $("#tabela-rota-direta>tbody").html("");
                    data.forEach((rota) => {
                        CarregaTabela(rota.rotaCompleta, "#tabela-rotas-disponiveis>tbody");
                        CarregaTabela(rota.rotaDireta, "#tabela-rota-direta>tbody");

                    })

                    $(".infoRotas").show();
                    $("#cardRotaDireta")[0].scrollIntoView({
                        behavior: 'smooth' // This will make the scroll smooth
                    });
                },
                error: (err) => {
                    Swal.fire({
                        title: "Erro na busca por rotas!",
                        text: "Cerifique-se de escolher origem e destino antes de fazer a busca!",
                        icon: 'error',
                        confirmButtonText: 'Ok',
                    })
                    $('.loader').hide();
                }
            })
        }

        function CarregaTabela(dados, seletor) {
            let arrayLength = dados.length;
            let htmlTabela = $(seletor).html();
            dados.forEach((item, index) => {
                if (index < arrayLength - 1 && (item.idRotaParada != dados[index + 1].idRotaParada)) {
                    let horarioMillisec = Date.parse(item.horario);
                    let horario = new Date(horarioMillisec);
                    let horaHorario = horario.getUTCHours();
                    let horaMinuto = (horario.getUTCMinutes() < 10 ? '0' : '') + horario.getUTCMinutes();
                    htmlTabela += ` <tr>
                                                                                                        <td>
                                                                                                            <a class='btn btn-sm btn-link' target='blank' href='https://www.google.com/maps/search/?api=1&query=${item.rotaParada.latitude},${item.rotaParada.longitude}'>
                                                                                                                <i class="fas fa-map-marker-alt"></i>
                                                                                                            </a>
                                                                                                                <button class='btn btn-sm btn-link' onclick="AbrirModalPreco(${item.idRotaParada},${dados[index + 1].idRotaParada})">
                                                                                                                <i class="fas fa-money-bill-wave"></i>
                                                                                                            </button>
                                                                                                            ${item.rotaParada.cidade.nome}/${item.rotaParada.cidade.estado} - <strong>${horaHorario}:${horaMinuto}</strong>
                                                                                                        </td>`;

                    let horarioMillisecProximaParada = Date.parse(dados[index + 1].horario);
                    let horarioProximaParada = new Date(horarioMillisecProximaParada);
                    let horaHorarioProximaParada = horarioProximaParada.getUTCHours();
                    let horaMinutoProximaParada = (horarioProximaParada.getUTCMinutes() < 10 ? '0' : '') + horarioProximaParada.getUTCMinutes();
                    htmlTabela += `     <td>
                                                                                                            <a class='btn btn-sm btn-link' target='blank' href='https://www.google.com/maps/search/?api=1&query=${dados[index + 1].rotaParada.latitude},${dados[index + 1].rotaParada.longitude}'>
                                                                                                                <i class="fas fa-map-marker-alt"></i>
                                                                                                            </a>
                                                                                                            ${dados[index + 1].rotaParada.cidade.nome}/${dados[index + 1].rotaParada.cidade.estado} - <strong>${horaHorarioProximaParada}:${horaMinutoProximaParada}</strong>
                                                                                                        </td>
                                                                                                    </tr>`;
                }
            });
            htmlTabela += ` <tr><td> - </td><td> - </td></tr>`;
            $(seletor).html(htmlTabela);
        }

        function AbrirModalPreco(idRotaParadaOrigem, idRotaParadaDestino) {
            $.ajax({
                url: environment.api_url + "/RotaPreco/Pontos/" + idRotaParadaOrigem + "/" + idRotaParadaDestino,
                method: 'get',
                contentType: 'application/json',
                success: (data) => {

                    if (idRotaParadaDestino == idRotaParadaOrigem) {
                        Swal.fire({
                            title: "Embarque indisponível",
                            text: "Este trajeto representa apenas um tempo de ociosidade.",
                            icon: 'info',
                            confirmButtonText: 'Ok',
                        })
                    } else if (data.preco == 0) {
                        Swal.fire({
                            title: "Embarque indisponível",
                            text: "No trajeto selecionado, não é permitido embarque de passageiros, apenas o desembarque!",
                            icon: 'info',
                            confirmButtonText: 'Ok',
                        })
                    } else {
                        Swal.fire({
                            title: `Valor: R$ ${formattedNumber(parseFloat(data.preco))}`,
                            text: `${data.origem} -> ${data.distancia}km -> ${data.destino}`,
                            icon: 'info',
                            confirmButtonText: 'Ok'
                        })
                    }
                },
                error: (error) => {
                    Swal.fire({
                        title: "Erro na exibição do preço!",
                        text: "Tente novamente mais tarde.",
                        icon: 'error',
                        confirmButtonText: 'Ok',
                    })
                }
            })
        }

        $(document).ready(() => {
            $(".infoRotas").hide();
            $(".select2").select2();

            CarregarCidades();
        })
    </script>
</body>
</html>