@page
@model TCC_WEB.Pages.IndexModel
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "ViaJá!";
    Layout = null;
    var apiUrl = Configuration.GetValue<string>("ConnectionStrings:ApiUrl");
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/select2/css/select2.css" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css">
    <link rel="stylesheet" href="~/lib/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-12 text-left">
                <h1><strong>Via</strong>Já!</h1>
                <h3>Onde você precisa ir e aonde vai chegar</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="cidade-origem">Onde você está?</label>
                    <select class="form-control select2" id="cidade-origem"></select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="cidade-destino">Para onde você quer ir?</label>
                    <select class="form-control select2" id="cidade-destino"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary btn-block" id="procurar-rotas" onclick="CarregarRotas()"><i class="fas fa-search"></i> Procurar</button>
            </div>
        </div>
        <div class="card mt-5 infoRotas">
            <div class="card-header">
                <span class="card-title">Rotas diretas</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tabela-rota-direta" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Início</th>
                                    <th>Chegada</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr class="infoRotas" />
        <div class="card infoRotas">
            <div class="card-header">
                <span class="card-title">Rotas completas</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tabela-rotas-disponiveis" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Início</th>
                                    <th>Chegada</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- Select2 -->
    <script src="~/lib/select2/js/select2.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <!-- Funções úteis -->
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        const environment = {
            api_url: "@apiUrl"
        }
    </script>

    <script type="text/javascript">
        function CarregarCidades() {
            $.ajax({
                url: environment.api_url + "/Cidade",
                contentType: "application/json",
                success: (data) => {
                    let opcoes = "<option value=null>--</option>";

                    data.forEach((cidade, indice) => {
                        let opcao = `<option value=${cidade.id}>${cidade.nome}</option>`;

                        opcoes += opcao;
                    });

                    $("#cidade-origem").html(opcoes);
                    $("#cidade-destino").html(opcoes);
                }
            })
        }

        function CarregarRotas() {
            let idCidadeOrigem = $("#cidade-origem").select2('data')[0].id;
            let idCidadeDestino = $("#cidade-destino").select2('data')[0].id;


            $.ajax({
                url: `${environment.api_url}/Rota/${idCidadeOrigem}/${idCidadeDestino}`,
                contentType: "application/json",
                success: (data) => {
                    $("#tabela-rotas-disponiveis>tbody").html("");
                    $("#tabela-rota-direta>tbody").html("");
                    data.forEach((rota) => {
                        CarregaTabela(rota.rotaCompleta, "#tabela-rotas-disponiveis>tbody");
                        CarregaTabela(rota.rotaDireta, "#tabela-rota-direta>tbody");

                    })

                    $(".infoRotas").show();
                }
            })
        }

        function CarregaTabela(dados, seletor) {
            let arrayLength = dados.length;
            let htmlTabela = $(seletor).html();
            dados.forEach((item, index) => {
                if (index < arrayLength - 1) {
                    let horarioMillisec = Date.parse(item.horario);
                    let horario = new Date(horarioMillisec);
                    let horaHorario = horario.getUTCHours();
                    let horaMinuto = (horario.getUTCMinutes() < 10 ? '0' : '') + horario.getUTCMinutes();
                    htmlTabela += ` <tr>
                                                <td>
                                                    <a class='btn btn-sm btn-link' target='blank' href='https://www.google.com/maps/search/?api=1&query=${item.rotaParada.latitude},${item.rotaParada.longitude}'>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                    </a>
                                                        <button class='btn btn-sm btn-link' onclick="AbrirModalPreco(${item.idRotaParada},${dados[index + 1].idRotaParada})">
                                                        <i class="fas fa-money-bill-wave"></i>
                                                    </button>
                                                    ${item.rotaParada.cidade.nome}/${item.rotaParada.cidade.estado} - <strong>${horaHorario}:${horaMinuto}</strong>
                                                </td>`;

                    let horarioMillisecProximaParada = Date.parse(dados[index + 1].horario);
                    let horarioProximaParada = new Date(horarioMillisecProximaParada);
                    let horaHorarioProximaParada = horarioProximaParada.getUTCHours();
                    let horaMinutoProximaParada = (horarioProximaParada.getUTCMinutes() < 10 ? '0' : '') + horarioProximaParada.getUTCMinutes();
                    htmlTabela += `     <td>
                                                    <a class='btn btn-sm btn-link' target='blank' href='https://www.google.com/maps/search/?api=1&query=${dados[index + 1].rotaParada.latitude},${dados[index + 1].rotaParada.longitude}'>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                    </a>
                                                    ${dados[index + 1].rotaParada.cidade.nome}/${dados[index + 1].rotaParada.cidade.estado} - <strong>${horaHorarioProximaParada}:${horaMinutoProximaParada}</strong>
                                                </td>
                                            </tr>`;
                }
            });
            htmlTabela += ` <tr><td> - </td><td> - </td></tr>`;
            $(seletor).html(htmlTabela);
        }

        function AbrirModalPreco(idRotaParadaOrigem, idRotaParadaDestino) {
            $.ajax({
                url: environment.api_url + "/RotaPreco/Pontos/" + idRotaParadaOrigem +"/"+idRotaParadaDestino,
                method: 'get',
                contentType: 'application/json',
                success: (data) => {
                    Swal.fire({
                        title: `Valor: ${data.preco}`,
                        text: `${data.origem} -> ${data.distancia}km -> ${data.destino}`,
                        icon: 'info',
                        confirmButtonText: 'Ok'
                    })
                }
            })
        }

        $(document).ready(() => {
            $(".infoRotas").hide();
            $(".select2").select2();

            CarregarCidades();
        })
    </script>
</body>
</html>