@page "/"
@model TCC_WEB.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in (v2)</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../lib/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../lib/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>TCC</b>Web</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Faça login para iniciar sua sessão</p>

                <form id="form-login" action="../../index3.html" method="post">
                    <div class="input-group mb-3">
                        <input type="text" id="usuario" class="form-control" placeholder="Usuário">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="senha" class="form-control" placeholder="Senha">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Lembrar-me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1">
                    <a href="forgot-password.html">Esqueci a senha</a> @*Fazer modal de formulário de esquecer a senha*@
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-center">Registrar novo usuário</a> @*Fazer modal de aviso para novo usuário*@
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../..//js/adminlte.min.js"></script>

    <!-- Funções úteis -->
    <script src="../..//js/site.js"></script>

    <script type="text/javascript">
        const environment = {
            api_url: "http://localhost:39389/api"
        }

        function NavegarParaHome() {
            window.location.replace("@(Models.Util.HttpRequestExtensions.BaseUrl(this.Request))Home");
        }
    </script>

    <script type="text/javascript">
        $(document).ready(() => {
            const token = localStorage["token"];

            if (token) {
                NavegarParaHome();
            }
        });

        $("#form-login").submit(function (event) {
            event.preventDefault();

            const usuario = $("#usuario").val();
            const senha = $("#senha").val();

            const login = {
                usuario: usuario,
                senha: senha
            };

            $.ajax({
                type: "POST",
                dataType: 'json',
                contentType: 'application/json',
                url: environment.api_url + "@Resource.urlLogin",
                data: JSON.stringify(login),
                success: function (data) {
                    localStorage["token"] = data.token;

                    NavegarParaHome();
                }
            });
        });
    </script>
</body>
</html>

